.login-page {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100%;
  /* margin-top: 30px; */
}
.login {
  width: 70%;
  display: flex;
  border: 1px solid rgb(201, 200, 200);
}
.login-form {
  /* margin: 10px; */
  padding: 30px;
  width: 50%;
  gap: 0px 20px;
  /* border-bottom: 1px solid gray; */
  height: 50%;
  /* background-color: whitesmoke; */
  box-shadow: 0px 0px 5px 0px rgb(209, 207, 207);
}
.university {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  height: auto;
}
.university .login-logo {
  width: 100%;
  height: 100%;
  padding-left: 0px;
}
.login-box {
  height: 70px;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  color: rgb(48, 47, 47);
}
.email {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
}
.email-label {
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 99, 99);
  padding-bottom: 5px;
}
.email-input {
  padding: 10px 0px 10px 5px;
  color: rgb(187, 180, 180);
  border: none;
  border-bottom: 1px solid gray;
}
input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid teal;
}
.password {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.label-password {
  width: 150px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(102, 99, 99);
  padding-bottom: 5px;
}
.input-password {
  height: auto;
  width: 100%;
  padding: 10px 0px 10px 10px;
  border: 2px solid rgb(223, 214, 214);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(34, 31, 31);
  position: relative;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
}
.hide-label {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
.remember {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  /* background-color: aquamarine; */
  margin-top: 10px;
}
.input-remember {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.input-remember input {
  margin-right: 5px;
}
.input-remember span {
  font-size: 11px;
  color: black;
}
.forgot {
  /* background-color: blue; */
}
.forgot a {
  text-decoration: none;
  font-size: 11px;
  color: rgb(40, 155, 142);
}

.btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.submit {
  height: 30px;
  width: 50px;
  color: rgb(253, 249, 249);
  background-color: rgb(37, 130, 133);
  margin-top: 20px;
  border: none;
}
