* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.parent-container {
  font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  padding-top: 40px;
}
.second-container {
  width: 80%;
  display: flex;
  justify-content: center;
  /* padding: 20px; */
  box-shadow: 0px 0px 5px 0px rgb(209, 207, 207);
}
form {
  height: auto;
  width: 50%;
  padding: 30px;
  text-align: center;
}
.bubble {
  width: 50%;
  /* padding: 10px; */
  text-align: center;
}
.logo {
  width: 100%;
  height: 100%;
}
/* .two-container {
  /* display: flex; */
/* justify-content: space-between; */
/* width: 100%;
  gap: 0px 70px; */
/* } */
label {
  font-size: 14px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  text-transform: capitalize;
  background-color: #fff;
  padding: 0px 5px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
  display: none;
  color: rgb(129, 127, 127);
}
.all-input-box input {
  width: 100%;
  height: 30px;
  font-size: 13px;
  outline: none;
  padding-left: 10px;
  gap: 0px 10px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(119, 122, 122);
}
input:focus {
  border-bottom: 2px solid teal;
}
.heading-box {
  height: 30px;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  color: dimgrey;
  padding-top: 10px;
  border-bottom: 1px solid teal;
  white-space: nowrap;
  font-weight: 500;
}
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#submit {
  border: none;
  height: 30px;
  width: 100%;
  color: rgb(253, 249, 249);
  background-color: rgb(37, 130, 133);
  margin-top: 20px;
  outline: none;
  cursor: pointer;
  padding: 5px;
}
.div-3 {
  margin: 5px 0px 10px 0px;
}
span {
  font-size: 12px;
  color: rgb(246, 83, 83);
  display: flex;
  margin-left: 8px;
}
.alert {
  padding-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(94, 79, 79);
  font-size: 10px;
}
.alert a {
  color: rgb(193, 24, 24);
  padding-left: 5px;
}

@media (max-width: 1024px) {
  .parent-container {
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding-top: 30px;
  }
  .second-container {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgb(209, 207, 207);
  }
  form {
    height: auto;
    width: 50%;
    padding: 30px;
    text-align: center;
  }
  .bubble {
    width: 50%;
    text-align: center;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .heading-box {
    height: 20px;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 30px; */
    padding-bottom: 20px;
    color: dimgrey;
    padding-top: 20px;
    font-size: 25px;
    border-bottom: 1px solid teal;
    white-space: nowrap;
    font-weight: 500;
  }
  .div-3 {
    margin: 8px 0px 10px 0px;
  }
  label {
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    text-transform: capitalize;
    background-color: #fff;
    padding: 0px 5px;
    font-size: 25px;
    white-space: nowrap;
    display: none;
    color: rgb(129, 127, 127);
  }
  span {
    font-size: 15px;
    color: rgb(236, 76, 76);
    display: flex;
    margin-left: 8px;
  }
  .alert {
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(94, 79, 79);
    font-size: 15px;
  }
  .alert a {
    color: rgb(193, 24, 24);
    padding-left: 5px;
  }
}
@media (max-width: 768px) {
  .parent-container {
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    padding-top: 40px;
  }
  .second-container {
    height: 80vh;
    width: 80%;
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    box-shadow: 0px 0px 5px 0px rgb(209, 207, 207);
  }
  form {
    height: auto;
    width: 50%;
    padding: 30px;
    text-align: center;
  }
  .bubble {
    width: 50%;
    /* padding: 10px; */
    text-align: center;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  label {
    font-size: 14px;
    font-weight: 400;
    font-family: "Nunito Sans", sans-serif;
    text-transform: capitalize;
    background-color: #fff;
    padding: 0px 5px;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    display: none;
    color: rgb(129, 127, 127);
  }
  .all-input-box input {
    width: 100%;
    height: 30px;
    font-size: 13px;
    outline: none;
    padding-left: 10px;
    gap: 0px 10px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(119, 122, 122);
  }
  input:focus {
    border-bottom: 2px solid teal;
  }
  .heading-box {
    font-size: 21px;
    height: 30px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    color: dimgrey;
    padding-top: 10px;
    border-bottom: 1px solid teal;
    white-space: nowrap;
    font-weight: 500;
  }
  .btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #submit {
    border: none;
    height: 30px;
    width: 100%;
    color: rgb(253, 249, 249);
    background-color: rgb(37, 130, 133);
    margin-top: 20px;
    outline: none;
    cursor: pointer;
    padding: 5px;
  }
  .div-3 {
    margin: 5px 0px 10px 0px;
  }
  span {
    font-size: 12px;
    color: rgb(246, 83, 83);
    display: flex;
    margin-left: 8px;
  }
  .alert {
    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(94, 79, 79);
    font-size: 10px;
  }
  .alert a {
    color: rgb(193, 24, 24);
    padding-left: 5px;
  }
}

@media (max-width: 480px) {
  .parent-container {
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica, Arial, sans-serif;
    position: relative;
    height: 100vh;
  }
  .second-container {
    height: 100vh;
    width: 80%;
    display: inline-block;
    box-shadow: 0px 0px 5px 0px rgb(209, 207, 207);
  }
  form {
    width: 100%;
    height: auto;
    padding: 30px 30px 10px 30px;
    text-align: center;
  }
  .bubble {
    width: 100%;
    text-align: center;
  }
  .logo {
    width: 100%;
    height: 100%;
  }
  .heading-box {
    font-size: 15px;
    height: 30px;
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    color: dimgrey;
    padding-top: 10px;
    border-bottom: 1px solid teal;
    white-space: nowrap;
    font-weight: 500;
  }

  span {
    font-size: 11px;
    color: rgb(246, 83, 83);
    display: flex;
    margin-left: 8px;
    white-space: nowrap;
  }
  .alert {
    padding-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(94, 79, 79);
    font-size: 10px;
  }
  .alert a {
    color: rgb(193, 24, 24);
    padding-left: 5px;
  }
}
